
/*Yifei's code*/

/*background and font*/
 body{
	font-family:sans-serif;
	background-color: black;
}

h3{
	color:#adada6;
	font-weight: bold;
	font-family: fantasy;
	font-size: 130%;
	text-align: left;
}


/*navigation bar*/
.topnav{
	background-color: orange;
}

.topnav a{
	color: black;
	text-align: center;
	padding: 30px;
	text-decoration: none;
	font-family: fantasy;
	font-weight: bold;
	font-size: 110%;
}

.topnav a:hover{
	background-color: black;
	color:orange;
}

/*h1*/
h1{
	color:lightyellow;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 220%;
	text-align: left;
}

/*1st hr*/
hr{
	background-color:orange;
	 height:20px;
	 border: 0;
}

}

/*hr*/
hr{
	background-color:white;
	 height:5px;
	 border: 0;
}

/*img*/
img{
	display: block;
	margin: auto;
	 max-width: 50%;
	height: auto;
}

/*ul ol*/
ul{
	font-size: 120%;
		color:white;
		list-style: circle;
		text-align: left;
}

/*h2*/
h2{
	text-align: center;
	font-size: 210%;
	color: white;
}

/*button*/
button{
	background-color: transparent;
	font-family: fantasy;
	font-weight: bold;
	display: block;
	margin: auto;
	font-size: 100%;
	color: #adada6;
}

/*small size pic and gif*/
.emm{
	display: block;
	margin: auto;
	max-width: 60%;
}

/*game design*/
.column{
	float:left;
	width: 31%;
	margin:10px;
   display: table;
   background-color: #36393d;
   color: white;
   	font-family: fantasy;
   	text-align: center;
   	font-size: 120%
}


a {
	color: white;
	text-decoration: none;
	font-size: 120%;
	font-family:fantasy;
} 

#hiroii {
	color:lightyellow;
 	font-family:fantasy;
 	font-size: 220%;
}

h4{
	color: white;
	font-size: 120%;
	font-family: sans-serif;
}

h5{
	color: #adada6;
	font-size: 120%;
	font-family: fantasy;
	text-align: center;
}

/*End of Yifei's code*/






/*LOL code*/

.topnav2{
	background-color: #25252c;
}

.topnav2 a{
	color: #daba6b;
	text-align: center;
	padding: 30px;
	text-decoration: none;
	font-family: fantasy;
	font-weight: bold;
	font-size: 110%;
}

.topnav2 a:hover{
	background-color: #25252c;
	color:#daba6b;
}

/*LOL code*/






/*gta*/

.topnav3{
	background-color: white;
}

.topnav3 a{
	color: black;
	text-align: center;
	padding: 30px;
	text-decoration: none;
	font-family: fantasy;
	font-weight: bold;
	font-size: 110%;
}

.topnav3 a:hover{
	background-color:black;
	color:white;
}









 